*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
    font-size: 62.5%;
}


body {
    height: 100%;
    background-color: #ddd;
}


.hidden {
    display: none !important;
}


.invisible {
    visibility: hidden;
}


#viewport {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    overflow: hidden;
}


.system-modal > div {
    border: 0.2rem solid #eee;
    margin-top: -0.2rem;
}

.system-modal > div:first-of-type {
    margin-top: 0;
}


.header {
    background-color: #999;
    padding: 0 1rem;
}


.header h1 {
    display: inline-block;
    font: normal 1.2rem/1 "Consolas", monospace;
    text-transform: uppercase;
    padding: 0.3rem 1rem 0.1rem 0;
}


.header p {
    display: inline-block;
    vertical-align: top;
    font: normal 1rem/1 "Consolas", monospace;
    color: #444;
    margin-top: 0.4rem;
}


.header span {
    float: right;
    width: 2rem;
    height: 0.2rem;
    background-color: #fff;
    margin: 0.7rem 0 0 1rem;
    opacity: 0.15;
    -webkit-animation: flicker 1.5s infinite backwards;
}

.header span:nth-of-type(1) {
    -webkit-animation-delay: 0.75s;
}

.header span:nth-of-type(3) {
    -webkit-animation-delay: 1.25s;
}


.content {
    background-color: #111;
    padding: 0.3rem 1rem;
}

.system-modal .content {
    border-left-width: 0.4rem;
    border-right-width: 0.4rem;
}


.content textarea {
    display: block;
    width: 100%;
    height: 1.6rem;
    font: normal 1.6rem/1 "Consolas", monospace;
    color: #fff;
    background-color: transparent;
    margin: 1rem 0;
    padding: 0 0.5rem;
    border: none;
    outline: none;
    resize: none;
}


.footer {
    position: relative;
    height: 2rem;
    padding: 0 1rem;
}

.footer:before {
    content: "";
    display: inline-block;
    width: 1.8rem;
    height: 1.6rem;
    border-right: 0.2rem solid #eee;
    margin-left: -1rem;
}


.footer button {
    display: inline-block;
    vertical-align: top;
    font: normal 1.1rem/1 "Consolas", monospace;
    text-transform: uppercase;
    color: #222;
    border: 0.1rem solid #222;
    padding: 0.3rem 0.6rem 0 0.6rem;
    margin-left: -0.3rem;
    cursor: pointer;
    outline: none;
}


.footer span {
    float: right;
    font: normal 1rem/1 "Consolas", monospace;
    color: #aaa;
    margin-top: 0.4rem;
}


.written-message {
    font: normal 0/1 "Consolas", monospace;
    text-transform: uppercase;
    color: #fff;
    margin-top: 0.2rem;
}


.written-message .message {
    font-size: 1.6rem;
}

.written-message.important .message {
    color: #fff;
    background-color: #e90005;
    margin-top: 0;
    padding: 0.2rem 0.5rem 0 0.5rem;
}


.written-message .cursor {
    position: relative;
    top: -0.3rem;
    font-size: 1.6rem;
    -webkit-animation: blink 300ms infinite;
}



/** SYSTEM INITIALIZING MODAL **/
.system-initializing {
    width: 400px;
}


.system-initializing > div {
    border-color: #ddd;
}


.system-initializing .footer {
    background-color: #999;
}



/** TARGET PROFILE **/
.profile {
    position: absolute;
}


.profile h1 {
    display: inline-block;
    font: normal 1.6rem/1 "Consolas", monospace;
    text-transform: uppercase;
    color: #fff;
    background-color: #e90005;
    margin-top: 0;
    padding: 0.3rem 1rem 0 1rem;
}


.profile .image {
    position: relative;
    width: 25rem;
    height: 15rem;
    border: 0.4rem solid #555;
    border-right-width: 1.2rem;
    border-bottom-width: 0.8rem;
    background: #666 center center no-repeat;
    background-size: cover;
}

.profile .image:before {
    content: "";
    position: absolute;
    top: 1.5rem;
    right: -1.1rem;
    bottom: 1.5rem;
    width: 1rem;
    border: 2px solid #777;
}


.profile p {
    display: block;
    font: normal 1.2rem/1 "Consolas", monospace;
    text-transform: uppercase;
    color: #fff;
    background-color: #222;
    border: 0.2rem solid #999;
    border-left-width: 0.5rem;
    border-right-width: 6rem;
    padding: 0.3rem 0.3rem 0.1rem 0.3rem;
}



/** ANIMATIONS **/
@-webkit-keyframes flicker {
    0% { opacity: 0; }
    30% { opacity: 0.15; }
    35% { opacity: 0; }
    40% { opacity: 0.15; }
    60% { opacity: 0; }
    90% { opacity: 0.1; }
    93% { opacity: 0; }
    95% { opacity: 0.1; }
    100% { opacity: 0; }
}


@-webkit-keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
